{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon Oct 18 09:58:45 PDT 2021
// Last Modified: Fri Nov 12 20:36:02 PST 2021
// Filename:      _includes/search/subpage-search.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show the work search form.
//
{% endcomment %}


<input type="text"
	id="work-search-pitch"
	class="filter pitch trans"
	data-transatt="placeholder:pitch_placeholder"
	placeholder=""
	value=""
>



