{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon May 30 22:21:02 PDT 2022
// Last Modified: Mon May 30 22:21:04 PDT 2022
// Filename:      _includes/comlib/composer-info.html
// Included in:   _layouts/default.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Display of composer information
//
{% endcomment %}


<table id="composer-info">
	<tr>
		<td>
			<div id="composer-portrait"></div>
		</td>
		<td style="vertical-align:top; padding-left:10px;">
			<table>
				<tr>
					<td>
						<div id="composer-name"></div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="comlib-line2" id="composer-dates"></div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="composer-links"></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>



