{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon May 30 22:21:02 PDT 2022
// Last Modified: Mon May 30 22:21:04 PDT 2022
// Filename:      _includes/comlib/library-info.html
// Included in:   _layouts/default.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Display of library information
//
{% endcomment %}


<table>
	<tr>
		<td>
			<div id="library-portrait"></div>
		</td>
		<td style="padding-left:20px;">
			<table>
				<tr>
					<td>
						<div class="trans" data-transatt="title:source_library" id="work-library-name">Library Name</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="trans" data-transatt="title:shelfmark" id="work-shelfmark">Shelfmark</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="work-scans">work scans</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
		
		

