{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sun May 29 15:59:02 PDT 2022
// Last Modified: Mon May 30 22:20:56 PDT 2022
// Filename:      _includes/comlib/main.html
// Included in:   
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Display of composer / library.
//
{% endcomment %}


<div id="comlib" class="hidden">
	<table width="100%">
		<tr>
			<td width="50%" style="vertical-align:top">
				{% include comlib/composer-info.html %}
			</td>
			<td width="50%" style="vertical-align:top">
				{% include comlib/library-info.html %}
			</td>
		</tr>
	</table>
</div>


