

table.search-results {
	border-collapse: collapse;
	margin-left: 30px;
	margin-right: 20px;
	width: calc(100% - 50px);
}


table.search-results th {
	cursor: pointer;
}


table.search-results td {
	cursor: pointer;
}


table.search-results td.shelfmark {
	padding-right: 5px;

}


table.search-results td.shelfmark span.siglum {
	letter-spacing: -1px;
}


table.search-results td.shelfmark span.shelfmark {
	letter-spacing: -0.5px;
}


table.search-results td.composer .first-name {
	letter-spacing: -0.5px;
}


table.search-results td.shelfmark span.siglum-postfix {
	padding-left: 2px;
}


table.search-results tbody tr:hover {
	background: lavender;
}


table.search-results th {
	text-align: left;
}


table.search-results td {
	vertical-align: top;
}


@media only screen and (max-width: 600px) {
	table.search-results td.shelfmark,
	table.search-results th.shelfmark {
		display: none;
	}
}


