{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Oct  9 00:34:21 PDT 2021
// Last Modified: Sat Oct  9 00:34:25 PDT 2021
// Filename:      _includes/styles/browse-table.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for the search results table on the browse page.
//
{% endcomment %}

table.search-results {
	border-collapse: collapse;
	max-width: 1000px;
	table-layout: fixed;
	width: 100%;
}

table.search-results.narrow {
	max-width: 650px !important;
}

table.search-results th:first-child,
table.search-results td:first-child {
	padding-left: 30px;
}

table.search-results th,
table.search-results td {
	cursor: pointer;
}

table.search-results th {
	text-align: left;
}

table.search-results td {
	vertical-align: top;
}

table.search-results th.title,
table.search-results td.title {
}

table.search-results th.composer,
table.search-results td.composer {
}

table.search-results th.shelfmark,
table.search-results td.shelfmark {
}

table.search-results td.shelfmark {
	padding-right: 5px;
	color: #555555;
	font-size: 90%;
}

table.search-results td.shelfmark span.siglum {
	letter-spacing: -1px;
}

table.search-results td.shelfmark span.shelfmark {
	letter-spacing: -0.5px;
}

table.search-results td.composer .first-name {
	letter-spacing: -0.5px;
}

table.search-results td.shelfmark span.siglum-postfix {
	padding-left: 2px;
}

table.search-results tbody tr:hover {
	background: #99000011;
}

table.search-results tbody tr.lyrics:hover{
	background: none !important;
}

div.lyrics-match {
	width: 61%;
	float: right;
	background: linear-gradient(to right, #f8f8f8, white);
	/* border: 1px solid #f0f0f0; */
	border-radius: 3px;
	padding: 10px;
}

.lyric-count {
	color: #aaaaaa;
}

.lyric-entry {
	display: inline-block;
	margin-right: 5px;

}


{% comment %}
/*
 * When the screen is 600px or less wide, hide
 * the shelfmark column in the search results table.
 */
{% endcomment %}
@media only screen and (max-width: 600px) {
	table.search-results td.shelfmark,
	table.search-results th.shelfmark {
		display: none;
	}
}



