

table.search-results {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}


table.search-results th:first-child,
table.search-results td:first-child {
	padding-left: 30px;
}


table.search-results th {
	cursor: pointer;
}


table.search-results td {
	cursor: pointer;
}


table.search-results td.shelfmark {
	padding-right: 5px;

}


table.search-results td.shelfmark span.siglum {
	letter-spacing: -1px;
}


table.search-results td.shelfmark span.shelfmark {
	letter-spacing: -0.5px;
}


table.search-results td.composer .first-name {
	letter-spacing: -0.5px;
}


table.search-results td.shelfmark span.siglum-postfix {
	padding-left: 2px;
}


table.search-results tbody tr:hover {
	background: lavender;
}


table.search-results tbody tr.lyrics:hover{
	background: none !important;
}


table.search-results th {
	text-align: left;
}


table.search-results td {
	vertical-align: top;
}


div.lyrics-match {
	width: 50%;
	float: right;
	background: #f8f8f8;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	padding: 10px;
}

.lyric-count {
	color: #aaaaaa;
}

.lyric-entry {
	display: inline-block;
	margin-right: 5px;

}


@media only screen and (max-width: 600px) {
	table.search-results td.shelfmark,
	table.search-results th.shelfmark {
		display: none;
	}
}

