

#filters {
	margin-bottom: 30px;
	margin-left: 30px;
}


.filter-div {
	display: inline-block;
}


#results-count {
	color: #aaaaaa;
}


.first-name {
	color: #aaaaaa;
}


span.mark {
	font-weight: bold;
	color: {{ site.h1_color }};
}


