{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Oct  9 00:43:41 PDT 2021
// Last Modified: Sat Oct  9 00:43:43 PDT 2021
// Filename:      _includes/styles/general.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   General styles for webpage.
//
{% endcomment %}


body.waiting * {
	cursor: progress !important;
}

body {
	box-sizing: inherit;
	cursor: auto;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	-webkit-text-size-adjust: 100%;
}

main {
	background-size: cover;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url({{ site.background_image }}) no-repeat center fixed;
	box-sizing: inherit;
	cursor: auto;
	display: block;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 50px;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #6a6a6a;
}

.hidden {
	display: none !important;
}



