{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Oct 23 14:37:14 PDT 2021
// Last Modified: Wed Oct 27 01:41:11 PDT 2021
// Filename:      _includes/styles/keyscape.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for the keyscape subpage on the work page.
//
{% endcomment %}

#keyscape {
	height: 311px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -115px;
	width: 600px;
}

canvas#image {
	position: absolute;
	top: 5px;
	z-index: 99;
	mix-blend-mode: multiply;
}

canvas#cursor {
	position: absolute;
	top: 5px;
	z-index: 99;
	mix-blend-mode: multiply;
}

#keyscape #info-overlay {
	border-collapse: collapse;
	display: flex;
	/* height: 100px; */
	left: 0px;
	margin: 0;
	padding: 0;
	position: relative;
	top: 25px;
	justify-content: space-between;
	width: 600px;
	z-index: 999;
}

#keyscape #left-info {
}

#keyscape #right-info {
	text-align:right;
	vertical-align: top;
	opacity: 0.15;
}

#keyscape #right-info:hover {
	display: block;
	opacity: 1.0;
}

#keyscape #keyscape-info {
	opacity: 0.7555;
	size: 1.75rem;
	padding-top: 3px;
	padding-right: 13px;
}

#keyscape #keyscape-info:hover {
	color: {{ site.h1_color }};
}



