
#player {
	position:sticky;
	margin-left:-15px;
	margin-top:0px;
	visibility:hidden;
	color: #666;
	background: white;
	opacity: 75%;
}

#midiPlayer_div  {
	height: 24px;
	/* background: #999; */
	background: none;
	opacity: 0.70;
}

#midiPlayer_bar  {
	/* progress bar background */

	background: #ccc;
	cursor: pointer;
	display: inline-block;
	height: 12px;
	position: relative;
	top: -7px;
	width: 250px;

}

#midiPlayer_progress {

	/* background: #555; */
	background: {{ site.h1_color }};
	height: 100%;
	margin: 0;
	position: relative;
	top: 0px;
	width: 0;

}

#midiPlayer_playingTime {
	display: inline-block;
	font-family: arial;
	font-size: 16px;
	margin: 8px;
	position: relative;
	text-align: right;
	top: -7px;
	width: 45px;
}

#midiPlayer_play,
#midiPlayer_pause {
	margin-left: 10px;
	position: relative;
	top: -7px;
}

#midiPlayer_totalTime {
	display: inline-block;
	font-family: arial;
	font-size: 16px;
	margin: 4px;
	position: relative;
	text-align: right;
	top: -7px;
	width: 40px;
}

#midiPlayer_div a.icon {
	cursor: pointer;
	vertical-align: center;
}

#midiPlayer_div a.icon: hover {
	color: green !important;

}

#midiPlayer_div a.play : hover {
	color: hotpink !important;
}

svg .highlight {
   fill: #a71b1d;
   stroke: #a71b1d;
	filter:url(#dropshadow);
} 


/* Some #player media styling is given in the vhv-button.css file */



