{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Tue Oct 12 08:07:59 PDT 2021
// Last Modified: Thu Oct 21 00:27:14 PDT 2021
// Filename:      _includes/styles/navigator.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for work navigator.
//
{% endcomment %}

[id^="navigator-"] {
	margin-top: 0;
	text-shadow: 0px 0px 1px #999999;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: {{ site.max_content_width }};
	width: 100%;
	flex-wrap: wrap;
	flex: 1 0 auto;
}

#navigator-browse {
	justify-content: right;
}

#navigator-browse .worknav-tool {
	padding-left: 25px;
}

.worknav-tool.selected {
	color: {{ site.selected_language_color }} !important;
}

#next-work:hover,
#previous-work:hover,
.worknav-tool:hover,
#to-browse-page:hover {
	color: {{ site.navigator_hover_color }} !important;
}

.worknav-tool {
	font-size: 2.25rem;
	color: white;
	cursor: pointer;
}

#incipit-button {
	/* Expand/compress icons are not the same width, so
	 * put them in a container with a constant width
    * (the size of the largest at 2.25rem).
	 */
	width:36px;
}


@media only screen and (max-width: 900px) {
	.worknav-tool {
		font-size: 2.03rem;
	}
}

@media only screen and (max-width: 800px) {
	.worknav-tool {
		font-size: 1.80rem;
	}
}

@media only screen and (max-width: 700px) {
	.worknav-tool {
		font-size: 1.58rem;
	}
}

@media only screen and (max-width: 600px) {
	.worknav-tool {
		font-size: 1.35rem;
	}
}



