{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Tue Oct 12 08:07:59 PDT 2021
// Last Modified: Fri Jun  3 06:48:29 PDT 2022
// Filename:      _includes/styles/navigator.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for work navigator.
//
{% endcomment %}

[id^="navigator-"] {
	margin-top: 0;
	text-shadow: 0px 0px 1px #999999;
	margin: 0px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: {{ site.max_content_width }};
	padding-left: {{ site.content_padding }};
	padding-right: {{ site.content_padding }};
	padding-top: 8px;
	padding-bottom: 8px;
	flex-wrap: wrap;
	flex: 1 0 auto;
	background: {{ site.secondary_color }};
	z-index: 10;
	opacity: {{ site.slight_opacity }};
	position: sticky;
	top: 0px;
}

/* Now adding invisible icons to space
#navigator-browse {
	justify-content: right;
}

#navigator-browse .worknav-tool {
	padding-left: 25px;
}

*/

.worknav-tool.selected {
	color: {{ site.selected_language_color }} !important;
}

#next-work:hover,
#previous-work:hover,
.worknav-tool:hover,
#to-browse-page:hover {
	color: {{ site.navigator_hover_color }} !important;
}

.worknav-tool {
	font-size: 2.25rem;
	color: white;
	cursor: pointer;
}

.fa-key {
	-moz-transform: rotate(135deg) scale(1, -1);
	-webkit-transform: rotate(135deg) scale(1, -1);
	-o-transform: rotate(135deg) scale(1, -1);
	-ms-transform: rotate(135deg) scale(1, -1);
	transform: rotate(135deg) scale(1, -1);
}


#incipit-button {
	/* Expand/compress icons are not the same width, so
	 * put them in a container with a constant width
    * (the size of the largest at 2.25rem).
	 */
	width:36px;
}


@media only screen and (max-width: 900px) {
	.worknav-tool {
		font-size: 2.03rem;
	}
}

@media only screen and (max-width: 800px) {
	.worknav-tool {
		font-size: 1.80rem;
	}
}

@media only screen and (max-width: 700px) {
	.worknav-tool {
		font-size: 1.58rem;
	}
}

@media only screen and (max-width: 600px) {
	.worknav-tool {
		font-size: 1.35rem;
	}
}



