{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Oct  9 00:56:53 PDT 2021
// Last Modified: Sat Oct  9 00:56:57 PDT 2021
// Filename:      _includes/styles/portrait.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for composer portraits on browse page.
//
{% endcomment %}

#portrait-browse img {
	max-width:200px;
	max-height:200px;
}

#portrait-browse .composer-name {
/*	margin-bottom: 20px;
	margin-top: -27px;
*/
}

#portrait-browse .composer-name a {
	text-decoration: none;
}


/* Work-page portrait *************************/

#composer-info img {
	max-width:200px;
	max-height:200px;
	display: block;
	margin: 0;
	padding: 0;
}

#image-wrapper {
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

table#composer-image-table {
	width: 600px;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

table#composer-image-table td:nth-child(1) {
	width: 400px;
	margin: 0;
	padding: 0;
}

table#composer-image-table td:nth-child(2) {
	width: 200px;
	margin: 0;
	padding-left: 10px;
}

div.composer-link a {
	text-decoration: none;
	color: {{ site.th_color }};
}



