{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon Oct 25 12:20:14 PDT 2021
// Last Modified: Mon Oct 25 12:20:16 PDT 2021
// Filename:      _includes/styles/subpage-configure.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for the configure subpage on the work page.
//
{% endcomment %}

#subpage-configure {
	height: 110px;
	margin-top: -110px;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 0px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#filter-form {
	white-space: nowrap;
	display: inline;
}

#filter-form label {
	display: inline-block;
	color: purple;
	margin-right: -20px;
}

#filter-form input {
	display: inline !important;
}

#filter-form #dummy-span {
	/* needed to anchor the checkbox */
	display: inline-block;
}




