{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon Oct 25 12:20:14 PDT 2021
// Last Modified: Mon Oct 25 12:20:16 PDT 2021
// Filename:      _includes/styles/tool-configure.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for the configure subpage on the work page.
//
{% endcomment %}

div.checkboxes {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* align-content: flex-start; */
	width: 100%;
	height: 140px;
}

/* Height of checkboxes has to be the same height as #tool-configure */

#tool-configure {
	height: 130px;
	margin-top: 0;
	width: 100%;
	letter-spacing: -0.5px;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 0px;
	max-width: 800px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 5px;
	/* overflow-x: auto; */
}


#filter-input {
	background: {{ site.secondary_color }};
	height: 18px;
	margin-top: 7px;
	outline: 1px solid white;
	border: 0;
}

#filter-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	margin-top: 12px;
	font-weight: italic;
	opacity: 1; /* Firefox */
}
#filter-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-weight: italic;
	color: white;
}
#filter-input::-ms-input-placeholder { /* Microsoft Edge */
	font-weight: italic;
	color: white;
}

.filter-form {
	white-space: nowrap;
	display: inline-block !important;
}

.filter-form label {
	display: inline-block;
	color: purple;
	margin-right: -20px;
}

#tempo-scaling-input {
	background: {{ site.secondary_color }};
	outline: 1px solid white;
	height: 18px;
	border: 0;
}

#tempo-scaling-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	font-weight: italic;
	opacity: 1; /* Firefox */
}
#tempo-scaling-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-weight: italic;
	color: white;
}
#tempo-scaling-input::-ms-input-placeholder { /* Microsoft Edge */
	font-weight: italic;
	color: white;
}

.filter-form {
	white-space: nowrap;
	display: inline-block !important;
}

.filter-form label {
	display: inline-block;
	color: purple;
	margin-right: -20px;
}

.filter-form input {
	display: inline-block !important;
}

.filter-form #dummy-span {
	/* needed to anchor the checkbox */
	display: inline-block;
}

select.plainwhite {
	border-radius: 2px;
	background: {{ site.secondary_color; }};
	color: white;
	width: 210px;
	font-size: 16px;
	border: 1px solid white;
	text-shadow: none;
	height: 20px;
	margin-top: 4px;
	margin-bottom: -3px;
	padding-bottom: 0px;
	margin-left: -1px;
}



