{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon Oct 25 12:26:45 PDT 2021
// Last Modified: Mon Oct 25 12:26:48 PDT 2021
// Filename:      _includes/styles/tool-download.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for the download subpage on the work page.
//
{% endcomment %}

#tool-download {
	align-items: center;
	display: flex;
	height: 110px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-width: 900px;
	padding-left: 30px;
}

.data-download {
	font-size: 1.60rem;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}

#tool-download i {
	font-size: 1.70rem;
}

.data-download:hover {
	color: {{ site.h1_color }};
}

.data-download i:hover {
	color: {{ site.button_hover_color }};
}

#tool-download .disabled {
	color: #dddddd;
}

#tool-download .disabled:hover,
#tool-download .disabled i:hover {
	color: #dddddd !important;
	cursor: auto;
}


@media only screen and (max-width: 800px) {
	#data-midi {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	#data-svg {
		display: none;
	}
}

@media only screen and (max-width: 700px) { #tool-download i { font-size: 1.70rem; } }
@media only screen and (max-width: 650px) { #tool-download i { font-size: 1.60rem; } }
@media only screen and (max-width: 600px) { #tool-download i { font-size: 1.45rem; } }
@media only screen and (max-width: 575px) { #tool-download i { font-size: 1.35rem; } }



