{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Tue Oct 12 08:07:59 PDT 2021
// Last Modified: Sat Oct 30 10:33:34 PDT 2021
// Filename:      _includes/styles/work.css
// Included in:   _includes/styles/main.html
// Syntax:        CSS
// vim:           ts=3:nowrap
//
// Description:   Styles for the work page.
//
{% endcomment %}


#GROUPTITLE {
	font-size: 1.5rem;
}


#TITLE {
	font-size: 1.5rem;
}


#SUBTITLE {
	font-size: 1.2rem;
}


.composer-link {
	display: inline-block;
	padding-right: {{ site.content_padding }};
	text-decoration: none;
	color: {{ site.secondary_color }};
}

.composer-link a {
	text-decoration: none;
	color: {{ site.secondary_color }};
}


.composer-link a:hover {
	color: {{ site.primary_color }};
}

.composer-link a:focus {
	color: {{ site.primary_color }};
}

.pmp-link a {
	font-weight: bold;
	font-size: 1.1rem;
}
