{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Fri Oct 22 11:42:20 PDT 2021
// Last Modified: Fri Oct 22 11:42:22 PDT 2021
// Filename:      _includes/work/subpage-keyscape.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show keyscape for current work.
//
{% endcomment %}

<div id="keyscape">
	<canvas id="image"></canvas>
	<canvas id="cursor"></canvas>
	<div id="keyinfo"></div>
	<div id="measureinfo"></div>
	<img class="hidden">
</div>




