{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon Oct 18 09:58:45 PDT 2021
// Last Modified: Sat Oct 23 07:59:01 PDT 2021
// Filename:      _includes/work/subpage-configure.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show the work notation configure form.
//
{% endcomment %}

<div class="checkboxes">

	<label class="container">
		<span class="ctext trans" data-trans="modern_stemming"></span>
		<input type="checkbox" id="checkbox-stemming" onchange="popc2.displayScore()">
		<span class="checkmark"></span>
	</label>

	<label class="container">
		<span class="ctext trans" data-trans="no_c_clefs"></span>
		<input type="checkbox" id="checkbox-nocclefs" onchange="popc2.displayScore()">
		<span class="checkmark"></span>
	</label>

	<label class="container">
		<span class="ctext trans" data-trans="show_all_notes"></span>
		<input type="checkbox" id="checkbox-shownotes" onchange="popc2.displayScore()">
		<span class="checkmark"></span>
	</label>

	<label class="container">
		<span class="ctext trans" data-trans="expand_repeats"></span>
		<input type="checkbox" id="checkbox-expandrep" onchange="popc2.displayScore()">
		<span class="checkmark"></span>
	</label>

	<div class="checkboxes" style="white-space:nowrap !important">
		<label class="container">
			<span class="ctext trans" data-trans="configure_filter"></span>
			<input type="checkbox" id="checkbox-expandrep" onchange="popc2.displayScore()">
			<span class="checkmark"></span>
		</label>
		<input type="text" placeholder="xxx" value="YYY">
	</div>

</div>



