{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Oct  9 00:01:53 PDT 2021
// Last Modified: Sat Oct  9 00:01:56 PDT 2021
// Filename:      _includes/work/work.html
// Included in:   _layouts/default.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Base contents of the work page before translations and music
//                notation is added to the page.  The contents of this file
//                are placed directly on the layout template within the
//                work page region.
//
{% endcomment %}

<h1 class="work-page"></h1>

<div class="hidden" id="subpage-downloads">
	{% include work/subpage-downloads.html %}
</div>

<div class="hidden" id="subpage-search">
	{% include work/subpage-search.html %}
</div>

<div class="hidden" id="subpage-configure">
	{% include subpage-configure/subpage-configure.html %}
</div>

<div class="hidden" id="subpage-keyscape">
	{% include work/subpage-keyscape.html %}
</div>

<center>
<div id="work-header">
	<div id="composer">
		<div id="composer-name" onclick="popc2.toggleComposerInfoDisplay()"></div>
		<div class="hidden" id="composer-info"></div>
	</div>
	<div id="title-area">
		<div class="hidden" id="GTL"></div>
		<div class="hidden" id="OPR"></div>
		<div class="hidden" id="OTL"></div>
	</div>
</div>

<div id="notation">
	<script type="text/x-html" id="humdrum"></script>
</div>

<script>
	// Script needed to adjust SVG output in #notation.
	{% include work/observeSvgContent.js %}
	popc2.observeSvgContent();
</script>


