{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Oct  9 00:01:53 PDT 2021
// Last Modified: Sat Oct  9 00:01:56 PDT 2021
// Filename:      _includes/work/work.html
// Included in:   _layouts/default.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Base contents of the work page before translations and music
//                notation is added to the page.
//
{% endcomment %}


<h1 class="work-page"></h1>

<script type="text/x-html" id="humdrum"></script>


