{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Oct  9 00:01:53 PDT 2021
// Last Modified: Sat Oct  9 00:01:56 PDT 2021
// Filename:      _includes/work/work.html
// Included in:   _layouts/default.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Base contents of the work page before translations and music
//                notation is added to the page.  The contents of this file
//                are placed directly on the layout template within the
//                work page region.
//
{% endcomment %}

<h1 class="work-page"></h1>

<div style="display:none;" id="subpage-downloads">

	<div class="data-download trans" id="data-humdrum"
			onclick="popc2.downloadData('humdrum')"
			data-transatt="title:download_humdrum">
		<i class="fas fa-file-download"></i>
		<br/>
		Humdrum
	</div>

	<div class="data-download trans" id="data-mei"
			onclick="popc2.downloadData('mei')"
			data-transatt="title:download_mei">
		<i class="fas fa-file-download"></i>
		<br/>
		MEI
	</div>

	<div class="data-download trans" id="data-midi"
			onclick="popc2.downloadData('mid')"
			data-transatt="title:download_midi">
		<i class="fas fa-file-download"></i>
		<br/>
		MIDI
	</div>

	<div class="data-download trans" id="data-musicxml"
			onclick="popc2.downloadData('musicxml')"
			data-transatt="title:download_musicxml">
		<i class="fas fa-file-download"></i>
		<br/>
		MusicXML
	</div>

	<span class="data-download trans" id="data-pdf"
			style="color:#dddddd"
			data-onclick="popc2.downloadData('pdf')"
			data-transatt="title:download_pdf">
		<i class="fas fa-file-download"></i>
		<br/>
		PDF
	</div>

</div>

<center>
<div id="work-header">
	<div id="composer-name"></div>
	<div id="title-area">
		<div style="display:none;" id="GTL"></div>
		<div style="display:none;" id="OPR"></div>
		<div style="display:none;" id="OTL"></div>
	</div>
</div>

<div id="notation">
	<script type="text/x-html" id="humdrum"></script>
</div>

<script>
	// Script needed to adjust SVG output in #notation.
	{% include work/observeSvgContent.js %}
	popc2.observeSvgContent();
</script>



