{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon Oct 18 09:58:45 PDT 2021
// Last Modified: Tue Nov  2 19:01:05 PDT 2021
// Filename:      _includes/subpage-configure/subpage-configure.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show the work notation configure form.
//
{% endcomment %}

<div class="checkboxes">

	{% include macro/checkbox.html id="checkbox-stemming"      trans="modern_stemming" %}
	{% include macro/checkbox.html id="checkbox-nocclefs"      trans="no_c_clefs"      %}
	{% include macro/checkbox.html id="checkbox-shownotes"     trans="show_all_notes"  %}
	{% include macro/checkbox.html id="checkbox-expandrep"     trans="expand_repeats"  %}
	{% include macro/checkbox.html id="checkbox-autostems"     trans="auto_stemming"   %}
	{% include macro/checkbox.html id="checkbox-soundingscore" trans="sounding_score"  %}
	{% include macro/checkbox.html
		id="checkbox-incipit"
		trans="display_incipit" 
		action="popc2.toggleMusicIncipit()"
	%}
	{% include macro/checkbox.html id="checkbox-systembreaks" trans="system_breaks"  %}

	{% comment %}
		{% include macro/checkbox.html id="checkbox-sic" trans="correct_sic"  %}
	{% endcomment %}

	<div id="filter-form" class="checkboxes">
		<label class="container">
			<span id="dummy-span">&nbsp;</span>
			<input type="checkbox" id="checkbox-filter" onchange="popc2.displayScore()">
			<span class="checkmark"></span>
		</label>
		<input id="filter-input" class="trans" data-transatt="placeholder:filter_placeholder" style="display:block" type="text" placeholder="" value="">
	</div>

</div>



