{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Mon Oct 18 09:58:45 PDT 2021
// Last Modified: Sat Feb 10 19:54:04 PST 2024
// Filename:      _includes/tool-configure/tool-configure.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show the work notation configure form.
//
{% endcomment %}

<div class="checkboxes">

	{% include macro/checkbox.html id="checkbox-stemming"      trans="modern_stemming"         %}
	{% include macro/checkbox.html id="checkbox-letters"       trans="modern_letters"          %}
	{% include macro/checkbox.html id="checkbox-nocclefs"      trans="only_bass_treble_clefs"  %}
	{% include macro/checkbox.html id="checkbox-shownotes"     trans="show_all_notes"          %}
	{% include macro/checkbox.html id="checkbox-expandrep"     trans="expand_repeats"          %}
	{% include macro/checkbox.html id="checkbox-nolyrics"      trans="no_lyrics"               %}

	{% include macro/checkbox.html id="checkbox-autostems"     trans="auto_stemming"           %}
	{% include macro/checkbox.html id="checkbox-soundingscore" trans="sounding_score"          %}
	{% include macro/checkbox.html id="checkbox-tightspacing"  trans="tight_spacing"           %}
	{% include macro/checkbox.html id="checkbox-sic-hide"      trans="sic_hide"                %}
	{% include macro/checkbox.html id="checkbox-sic-apply"     trans="sic_apply"               %}
	{% include macro/checkbox.html id="checkbox-original-sysbreaks" trans="original_sysbreaks" %}
	{% include macro/checkbox.html
		id="checkbox-incipit"
		trans="display_incipit" 
		action="popc2.toggleMusicIncipit()"
	%}

	{% include macro/checkbox.html id="checkbox-show-custodes" trans="show_custodes"          %}

	<select id="select-transposition" onchange="popc2.displayScore()" class="plainwhite">
		<option class="trans" data-trans="select_transposition" value=""></option>
		<option class="trans" data-trans="transpose_up_m2" value="+m2">&uarr; m2</option>
		<option class="trans" data-trans="transpose_down_m2" value="-m2">&darr; m2</option>
		<option class="trans" data-trans="transpose_up_M2" value="+M2">&uarr; M2</option>
		<option class="trans" data-trans="transpose_down_M2" value="-M2">&darr; M2</option>
		<option class="trans" data-trans="transpose_up_m3" value="+m3">&uarr; m3</option>
		<option class="trans" data-trans="transpose_down_m3" value="-m3">&darr; m3</option>
		<option class="trans" data-trans="transpose_up_M3" value="+M3">&uarr; M3</option>
		<option class="trans" data-trans="transpose_down_M3" value="-M3">&darr; M3</option>
		<option class="trans" data-trans="transpose_up_P4" value="+P4">&uarr; P4</option>
		<option class="trans" data-trans="transpose_down_P4" value="-P4">&darr; P4</option>
		<option class="trans" data-trans="transpose_up_P5" value="+P5">&uarr; P5</option>
		<option class="trans" data-trans="transpose_down_P5" value="-P5">&darr; P5</option>
		<option class="trans" data-trans="transpose_up_m6" value="+m6">&uarr; m6</option>
		<option class="trans" data-trans="transpose_down_m6" value="-m6">&darr; m6</option>
		<option class="trans" data-trans="transpose_up_M6" value="+M6">&uarr; M6</option>
		<option class="trans" data-trans="transpose_down_M6" value="-M6">&darr; M6</option>
		<option class="trans" data-trans="transpose_up_m7" value="+m7">&uarr; m7</option>
		<option class="trans" data-trans="transpose_down_m7" value="-m7">&darr; m7</option>
		<option class="trans" data-trans="transpose_up_M7" value="+M7">&uarr; M7</option>
		<option class="trans" data-trans="transpose_down_M7" value="-M7">&darr; M7</option>
		<option class="trans" data-trans="transpose_up_P8" value="+P8">&uarr; P8</option>
		<option class="trans" data-trans="transpose_down_P8" value="-P8">&darr; P8</option>
	</select>
	
	<span class="filter-form checkboxes" style="display:inline-block; margin-top:5px;">
		<label class="container">
			<span class="dummy-span">&nbsp;</span>
			<input type="checkbox" id="checkbox-tempo-scaling" onchange="popc2.displayScore()">
			<span class="checkmark"></span>
		</label>
		<input id="tempo-scaling-input" class="trans" data-transatt="placeholder:tempo_scaling_placeholder" style="width:150px;display:inline-block" type="text" placeholder="" value="">%
	</span>

	<span class="filter-form checkboxes" style="display:inline-block; margin-top:-10px;">
		<label class="container">
			<span class="dummy-span">&nbsp;</span>
			<input type="checkbox" id="checkbox-filter" onchange="popc2.displayScore()">
			<span class="checkmark"></span>
		</label>
		<input id="filter-input" class="trans" data-transatt="placeholder:filter_placeholder" style="display:block" type="text" placeholder="" value="">
	</span>

</div>


