{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed Oct 13 11:13:01 PDT 2021
// Last Modified: Wed Oct 13 11:13:04 PDT 2021
// Filename:      _includes/navigator/work-navigator.html
// Included in:   _includes/navigator/main.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   List of buttons for moving to the next/previous work
//                in SEARCH_RESULTS as well as a button to return to
//                the browse page.
//
{% endcomment %}


<div id="previous-work" class="trans worknav-tool fas fa-arrow-circle-left"
		data-transatt="title:previous_work" onclick="popc2.displayPreviousWork();">
</div>

<div id="to-browse-page" class="trans worknav-tool fas fa-arrow-circle-up"
		data-transatt="title:browse_page" onclick="popc2.displayBrowsePage();">
</div>

<div id="next-work" class="trans worknav-tool fas fa-arrow-circle-right"
		data-transatt="title:next_work" onclick="popc2.displayNextWork();">
</div>

<div id="play-button" class="trans worknav-tool fas fa-play"
		data-transatt="title:play_tool_play">
</div>

<div id="smaller-button" class="trans worknav-tool fas fa-minus-square"
		data-transatt="title:smaller_tool" onclick = "popc2.makeNotationSmaller();">
</div>

<div id="larger-button" class="trans worknav-tool fas fa-plus-square"
		data-transatt="title:larger_tool" onclick="popc2.makeNotationLarger();">
</div>

<div id="download-button" class="trans worknav-tool fas fa-download"
		data-transatt="title:download_tool" onclick="popc2.toggleDownloadDisplay();">
</div>

<div id="incipit-button" class="trans worknav-tool fas fa-compress-arrows-alt"
		data-transatt="title:incipit_tool_compress" onclick="popc2.toggleMusicIncipit();">
</div>

<div id="random-button" class="trans worknav-tool fas fa-random"
		data-transatt="title:random_tool" onclick="popc2.displayScore('random');">
</div>

<div id="worklink-button" class="trans worknav-tool fas fa-link"
		data-transatt="title:worklink_tool" onclick="popc2.copyWorkLink();">
</div>

<div id="vhv-button" class="size-225 trans worknav-tool"
		data-transatt="title:vhv_tool" onclick="popc2.openInVhv();">
	<span class="v1-letter size-225">V</span>
	<span class="h-letter size-225">H</span>
	<span class="v2-letter size-225">V</span>
</div>


