{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed Oct 20 23:08:50 PDT 2021
// Last Modified: Wed Oct 20 23:08:54 PDT 2021
// Filename:      _includes/navigator/navigator-browse.html
// Included in:   _includes/navigator/main.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Toolbar for the browse page.
//
{% endcomment %}


<div id="previous-work-browse" class="invisible trans worknav-tool fas fa-arrow-circle-left"
		data-transatt="title:previous_work" onclick="popc2.displayPreviousWork();">
</div>

<div id="to-browse-page-browse" class="invisible trans worknav-tool fas fa-arrow-circle-up"
		data-transatt="title:browse_page" onclick="popc2.displayBrowsePage();">
</div>

<div id="next-work-browse" class="invisible trans worknav-tool fas fa-arrow-circle-right"
		data-transatt="title:next_work" onclick="popc2.displayNextWork();">
</div>

<div id="play-button-browse" class="invisible trans worknav-tool fas fa-play"
		data-transatt="title:play_tool_play">
</div>

<div id="smaller-button-browse" class="invisible trans worknav-tool fas fa-minus-square"
		data-transatt="title:smaller_tool" onclick = "popc2.makeNotationSmaller();">
</div>

<div id="larger-button-browse" class="invisible trans worknav-tool fas fa-plus-square"
		data-transatt="title:larger_tool" onclick="popc2.makeNotationLarger();">
</div>

<div id="search-button-browse" class="invisible trans worknav-tool fas fa-search"
		data-transatt="title:search_tool" onclick="popc2.toggleSubpageDisplay('search')">
</div>

<div id="configure-button-browse" class="invisible trans worknav-tool fas fa-wrench"
		data-transatt="title:configure_tool" onclick="popc2.toggleSubpageDisplay('configure')">
</div>

<div id="download-button-browse" class="invisible trans worknav-tool fas fa-download"
		data-transatt="title:download_tool" onclick="popc2.toggleSubpageDisplay('download')">
</div>

<div id="keyscape-button-browse" class="invisible trans worknav-tool fas fa-key"
		data-transatt="title:download_tool">
</div>

<div id="random-browse-button" class="trans worknav-tool fas fa-random"
		data-transatt="title:random_tool" onclick="popc2.displayRandomWork();">
</div>

<div id="worklink-browse-button" class="trans worknav-tool fas fa-link"
		data-transatt="title:worklink_tool" onclick="popc2.copySearchLink();">
</div>

<div id="history-browse-button" class="trans worknav-tool fas fa-history"
		data-transatt="title:fullwidth_tool_expand" onclick="popc2.toggleHistoryDisplay()">
</div>

<div id="bookmark-browse-button" class="trans worknav-tool fas fa-star"
		data-transatt="title:bookmark_tool" onclick="popc2.toggleBookmarkDisplay()">
</div>



