{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed Oct 20 23:08:50 PDT 2021
// Last Modified: Wed Oct 20 23:08:54 PDT 2021
// Filename:      _includes/navigator/navigator-browse.html
// Included in:   _includes/navigator/main.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Toolbar for the browse page.
//
{% endcomment %}


<div id="random-browse-button" class="trans worknav-tool fas fa-random"
		data-transatt="title:random_tool" onclick="popc2.displayRandomWork();">
</div>

<!--
<div id="worklink-browse-button" class="trans worknav-tool fas fa-link"
		data-transatt="title:link_browse_tool" onclick="popc2.copySearchLink();">
</div>
-->

<div id="copy-browse-button" class="trans worknav-tool fas fa-table"
		data-transatt="title:copy_browse_tool" onclick="popc2.copyBrowseTableAsTsv()">
</div>

<div id="history-browse-button" class="hidden trans worknav-tool fas fa-history"
		data-transatt="title:history_tool" onclick="popc2.toggleHistoryDisplay()">
</div>

<div id="bookmark-browse-button" class="hidden trans worknav-tool fas fa-star"
		data-transatt="title:bookmark_browse_tool" onclick="popc2.toggleBookmarkDisplay()">
</div>



