{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed Oct 20 23:08:50 PDT 2021
// Last Modified: Wed Oct 20 23:08:54 PDT 2021
// Filename:      _includes/navigator/navigator-browse.html
// Included in:   _includes/navigator/main.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Toolbar for the browse page.
//
{% endcomment %}


<div id="info-browse-button" class="tab trans worknav-tool fas fa-question-circle"
		role="button" tabindex="0"
		data-transatt="title:info" onclick="popc2.displayInfoPage();">
</div>

<div id="accessibility-button" class="tab trans worknav-tool fas fa-universal-access"
		role="button" tabindex="0"
		data-transatt="title:accessibility" onclick="popc2.displayInfoPage('access');">
</div>

<div id="date-browse-button" class="tab trans worknav-tool fas fa-d"
		role="button" tabindex="0"
		data-transatt="title:date_sort" onclick="popc2.toggleDateSorting();">
</div>

<div id="basso-continuo-browse-button" class="tab trans worknav-tool fas fa-b"
		role="button" tabindex="0"
		data-transatt="title:basso_continuo_scores" onclick="popc2.toggleBassoContinuoScores();">
</div>

<div id="date-browse-button" class="tab trans worknav-tool fas fa-f"
		role="button" tabindex="0"
		data-transatt="title:fingering_scores" onclick="popc2.toggleFingeringScores();">
</div>

<div id="iiif-browse-button" class="tab trans worknav-tool fas fa-i"
		role="button" tabindex="0"
		data-transatt="title:iiif_scores" onclick="popc2.toggleIiifScores();">
</div>

<div id="modern-browse-button" class="tab trans worknav-tool fas fa-m"
		role="button" tabindex="0"
		data-transatt="title:modernized_scores" onclick="popc2.toggleModernScores();">
</div>

<div class="ban-container">
<span id="ban-icon" class="ban fa fa-ban"></span>
<div id="text-browse-button" class="tab trans worknav-tool fas fa-t"
		role="button" tabindex="0"
		style="padding-left:10px; position: absolute; top:-18px; left:-15px;"
		data-transatt="title:text_scores" onclick="popc2.toggleTextScores();">
</div>
</div>

<div class="trans worknav-tool fas fa-star" style="visibility:hidden"></div>
<div class="trans worknav-tool fas fa-star" style="visibility:hidden"></div>
<div class="trans worknav-tool fas fa-star" style="visibility:hidden"></div>
<div class="trans worknav-tool fas fa-star" style="visibility:hidden"></div>
<div class="trans worknav-tool fas fa-star" style="visibility:hidden"></div>
<div class="trans worknav-tool fas fa-star" style="visibility:hidden"></div>
<div class="trans worknav-tool fas fa-star" style="visibility:hidden"></div>

<div id="random-browse-button" class="tab trans worknav-tool fas fa-random"
		role="button" tabindex="0"
		data-transatt="title:random_tool" onclick="popc2.displayRandomWork();">
</div>

<div id="copy-browse-button" class="tab trans worknav-tool fas fa-table"
		role="button" tabindex="0"
		data-transatt="title:copy_browse_tool" onclick="popc2.copyBrowseTableAsTsv()">
</div>

<div id="history-browse-button" class="tab hidden trans worknav-tool fas fa-history"
		role="button" tabindex="0"
		data-transatt="title:history_tool" onclick="popc2.displayHistoryPage()">
</div>

<div id="bookmark-browse-button" class="tab hidden trans worknav-tool fas fa-star"
		role="button" tabindex="0"
		data-transatt="title:bookmark_browse_tool" onclick="popc2.displayBookmarkPage()">
</div>



