{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed Oct 13 11:18:25 PDT 2021
// Last Modified: Wed Oct 13 11:18:28 PDT 2021
// Filename:      _includes/navigator/work-toolbar.html
// Included in:   _includes/navigator/main.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   List of tool buttons for doing things on the work page.
//
{% endcomment %}




<div id="play-button" class="trans worknav-tool fas fa-play"
		data-transatt="title:play_tool_play">
</div>

<div id="smaller-button" class="trans worknav-tool fas fa-minus-square"
		data-transatt="title:smaller_tool" onclick = "popc2.makeNotationSmaller();">
</div>

<div id="larger-button" class="trans worknav-tool fas fa-plus-square"
		data-transatt="title:larger_tool" onclick="popc2.makeNotationLarger();">
</div>

<div id="incipit-button" class="trans worknav-tool fas fa-compress-arrows-alt"
		data-transatt="title:incipit_tool_compress" onclick="popc2.toggleMusicIncipit();">
</div>

