{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed Oct 13 11:13:01 PDT 2021
// Last Modified: Wed Oct 13 11:13:04 PDT 2021
// Filename:      _includes/navigator/work-navigator.html
// Included in:   _includes/navigator/main.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   List of buttons for moving to the next/previous work
//                in SEARCH_RESULTS as well as a button to return to
//                the browse page.
//
{% endcomment %}

<div id="previous-work" class="trans worknav-tool fas fa-arrow-circle-left"
		data-transatt="title:previous_work" onclick="popc2.displayPreviousWork();">
</div>
<div id="to-browse-page" class="trans worknav-tool fas fa-arrow-circle-up"
		data-transatt="title:browse_page" onclick="popc2.displayBrowsePage();">
</div>
<div id="next-work" class="trans worknav-tool fas fa-arrow-circle-right"
		data-transatt="title:next_work" onclick="popc2.displayNextWork();">
</div>



