{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Fri Oct 22 11:42:20 PDT 2021
// Last Modified: Fri Oct 22 11:42:22 PDT 2021
// Filename:      _includes/work/subpage-keyscape.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show keyscape for current work.
//
{% endcomment %}

<div id="keyscape">
	<canvas id="image"></canvas>
	<canvas id="cursor"></canvas>
	<table id="info-overlay">
		<tr>
			<td id="left-info">
					<div id="key-info"></div>
					<div id="measure-info"></div>
			</td>
			<td id="right-info">
				<label class="reverse-container">
					<span class="ctext ztrans" data-trans="cleaned_keyscape">Cleaned</span>
					<input type="checkbox" id="checkbox-cleaned" onchange="popc2.displayKeyscape()">
					<span class="checkmark"></span>
				</label>
				<label class="reverse-container">
					<span class="ctext ztrans" data-trans="relative_keyscape">Relative</span>
					<input type="checkbox" id="checkbox-relative" onchange="popc2.displayKeyscape()">
					<span class="checkmark"></span>
				</label>
			</td>
		</tr>
	</table>
	<img class="hidden">
</div>




