{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Fri Oct 22 11:42:20 PDT 2021
// Last Modified: Fri Oct 22 11:42:22 PDT 2021
// Filename:      _includes/work/subpage-keyscape.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show keyscape for current work.
//
{% endcomment %}

<div id="keyscape">
	<canvas id="image"></canvas>
	<canvas id="cursor"></canvas>
	<div id="info-overlay">
		<div id="left-info">
				<div id="key-info"></div>
				<div id="measure-info"></div>
		</div>
		<div id="right-info">
			<label style="z-index:500" class="reverse-container">
				<span class="ctext trans" data-trans="cleaned_keyscape">Cleaned</span>
				<input type="checkbox" id="checkbox-cleaned" onchange="popc2.showKeyscape()">
				<span class="checkmark"></span>
			</label>
			<label class="reverse-container">
				<span class="ctext trans" data-trans="relative_keyscape">Relative</span>
				<input type="checkbox" id="checkbox-relative" onchange="popc2.showKeyscape()">
				<span class="checkmark"></span>
			</label>
			<div id="keyscape-info" class="trans fas fa-info-circle"
					style="cursor:pointer"
					onclick="window.open('{{ site.website_root}}info/keyscape', 'info')"
					data-transatt="title:keyscape_info">
			</div>
		</div>
	</div>
	<img class="hidden">
</div>



