---
---
<!DOCTYPE html>
<html>
<head>
{% include head/main.html %}
</head>
<body class="waiting">
<header>
	{% include navigator/navigator.html %}
</header>
<main>
	{% include language-navigator/main.html %}
	<div id="content">
		{% include language-navigator/euflag.html %}
		{{ content }}
		<div class="page hidden" id="page-browse"></div>
		<div class="page hidden" id="page-work">
			{% include work/work.html %}
		</div>
		<div class="page hidden" id="page-analysis"></div>
	</div>
<footer>
	{% include footer/main.html %}
</footer>
</main>
{% include head/main-bottom.html %}
</body>
</html>
