---
vim:	nowrap
---
<!DOCTYPE html>
<html>
<head>
{% include head/main.html %}
</head>
<body class="waiting">
<main>
	{% include title/main.html %}
	<div id="navigator">
		{% include navigator/navigator.html %}
	</div>
	{% include tool/main.html %}
	{% include comlib/main.html %}
	<div id="content">
		{% include title/midi-player.html %}
		<!--
		MIDI play interface shown to the right of the EU Flag, but remains visible when scrolling down the page:
		-->
		<div id="player"> </div>

		{{ content }}
		<div class="page hidden" id="page-browse"></div>
		<div class="page hidden" id="page-work">
			{% include work/work.html %}
		</div>
		<div class="page hidden" id="page-analysis"></div>
	</div>
<footer>
	{% include footer/main.html %}
</footer>
</main>
{% include head/main-bottom.html %}
</body>
</html>
