---
---
<!DOCTYPE html>
<html>
<head>
{% include head/main.html %}
</head>
<body class="waiting">
<header style="display:none">
	{% include navigator/main.html %}
</header>
<main>
	{% include navigator/language-navigator.html %}
	<div id="content">
	{% include navigator/euflag.html %}
	{{ content }}
	<div class="page hidden" id="page-browse"></div>
	<div class="page hidden" id="page-work">
		{% include work/work.html %}
	</div>
	<div class="page hidden" id="page-analysis"></div>
	</div>
</main>
<footer></footer>
</body>
</html>
