{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Jan 22 18:51:56 PST 2022
// Last Modified: Sat Jan 22 18:51:59 PST 2022
// Filename:      _includes/workinfo/subpage-workinfo.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show the work info (source library and shelfmark).
//
{% endcomment %}


<div class="trans" data-transatt="title:source_library" id="library-name"></div>
<div class="trans" data-transatt="title:shelfmark" id="shelfmark"></div>



