{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Jan 22 18:51:56 PST 2022
// Last Modified: Sun Jan 23 19:34:04 PST 2022
// Filename:      _includes/workinfo/tool-workinfo.html
// Included in:   _includes/work/work.html
// Syntax:        HTML
// vim:           ts=3:nowrap
//
// Description:   Show the work info (source library and shelfmark).
//
{% endcomment %}


<div class="trans" data-transatt="title:source_library" id="work-library-name"></div>

<div class="trans" data-transatt="title:shelfmark" id="work-shelfmark"></div>

<div id="work-scans"></div>



